.container{
    display: grid;
    grid-template-rows:auto auto auto;
    place-items: center;
    align-items: center;
    padding: 6rem;
}
.img{
    height: 25rem;
    position: fixed;
    bottom: 80%;
    right: 70%;
}
@keyframes img {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.img2{
    height: 25rem;
    position: fixed;
    bottom: 25%;
    right: 80%;
}
.img3{
    height: 25rem;
    position: fixed;
    top: 80%;
    right: 60%;
}
.img4{
    height: 25rem;
    position: fixed;
    top: 80%;
    right: 20%;
}
.img5{
    height: 25rem;
    position: fixed;
    bottom: 25%;
    left: 80%;
}
.img6{
    height: 25rem;
    position: fixed;
    bottom: 80%;
    left: 70%;
}
.title{
    font-size: 13rem;
    font-family: 'Lobster';
    margin: 0;
}
.sub{
    font-size: 4em;
    font-family: 'Lobster';
    font-weight: lighter;
    color: #FE9D0E;
    padding-bottom: 1rem;
}
.icon{
    height: 11rem;
}
.btn{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.25em;
    vertical-align: middle;
    background-color: #FE9D0E;
    cursor: pointer;
    outline: none;
    border-radius: 6rem;
    padding: 1.25em 2em;
    color:#efefef;
    width: 15rem;
    height: 5rem;
    transition:all .3s ease; 
    border: 2px solid #FE9D0E;
}
.btn:hover{
    color:#FE9D0E;
    background-color: #efefef;
    border: 2px solid #FE9D0E;
    transition:all .3s ease; 
}

     